<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.casimir.loverun" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission  android:name="android.permission.VIBRATE"/>

    <permission android:name="com.casimir.loverun" android:protectionLevel="signature"/>

    <application
        android:permission="com.casimir.loverun"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MainTheme"
        android:name=".application.MyApplication">
        <meta-data android:name="ml_channel" android:value="google_play"/>
        <meta-data android:value="YOUR_APP_KEY" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="Channel ID" android:name="UMENG_CHANNEL"/>
        <activity
            android:name="com.casimir.loverun.activity.MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CourseActivity"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            />
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/SettingTheme" />
        <activity
            android:name=".activity.LicenseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SettingTheme"
            android:noHistory="true"/>

        <service
            android:name=".service.TimerService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.TIMER_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.AudioService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.AUDIO_SERVICE" />
            </intent-filter>
        </service>


    </application>

</manifest>